th {
    border: 4px solid black;
    text-align: center;
    width: 20%;
    background-color: indianred;
}


td {
    border: 4px solid black;
    text-align: center;
    width: 20%;
}

.row {
    outline: 1px solid black;
}
#bingo {
    outline: 4px solid black;
    text-align: center;
    width: 800px;
    height: 800px;
}

#free {
    font-weight: bold;
    text-align: center;
    background-color: orange;
}
